[submodule "eigen"]
	path = eigen
	url = git@gitlab.com:libeigen/eigen.git
	branch = master
[submodule "fmt"]
	path = fmt
	url = ../../fmtlib/fmt.git
[submodule "cppitertools"]
	path = cppitertools
	url = ../../ryanhaining/cppitertools.git
[submodule "Catch2"]
	path = Catch2
	url = ../../catchorg/Catch2.git
