[submodule "eigen"]
	path = extern/eigen
	url = https://gitlab.com/libeigen/eigen.git
	branch = master
[submodule "fmt"]
	path = extern/fmt
	url = ../../fmtlib/fmt.git
[submodule "cppitertools"]
	path = extern/cppitertools
	url = ../../oir/cppitertools.git
[submodule "Catch2"]
	path = extern/Catch2
	url = ../../catchorg/Catch2.git
[submodule "pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11
[submodule "extern/tblr"]
	path = extern/tblr
	url = ../../oir/tblr.git
