[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
	branch = master
[submodule "fmt"]
	path = fmt
	url = ../../fmtlib/fmt.git
[submodule "cppitertools"]
	path = cppitertools
	url = ../../ryanhaining/cppitertools.git
[submodule "Catch2"]
	path = Catch2
	url = ../../catchorg/Catch2.git
[submodule "pybind11"]
	path = pybind11
	url = ../../pybind/pybind11
