*.bak
*.out
*.swo
*.swp
*.tsk
*.tmp
*.h.gch
*.gcno
*.gcda
*.plist

subprojects/*/
!subprojects/packagefiles/

compile_commands.json

build/
cudabuild/
cmake-build-debug/

data/

.idea/
.vscode/
.ccls-cache/
.DS_Store
__pycache__
